.listview .pen_img{
	width: 10px;
	height: 10px;
}
.listview th{
	border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    letter-spacing: -1px;
    height: 25px;
    padding: 2px 0 0 0;
    color: #707070;
    text-align: center;
	overflow: hidden;
}

.listview td{
	border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    letter-spacing: -1px;
    height: 25px;
    padding: 2px 0 0 0;
    text-align: center;
}


.listview strong{
	color: red;
	margin-top:30px; 
}

.listview table{
	border-top: 1px solid #dbdbdb;
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid #aaafbc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

table img{
	width:120px;
	height:82px;
}

 .title {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}

 .status span{
	margin-left: 10px;
}

.price strong{
	color: red;
}
 .trans{
	width: 30px;
}

 .oil{
	width: 30px;
}
 .trans{
	width: 30px;
}